.projects {
  padding-left: 80px;
  padding-right: 50px;
}

.project-item {
  position: relative;
  margin-bottom: 40px;
  cursor: pointer;
}

.project-item .title {
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 24px;
  color: #000000;
  font-size: 24px;
  letter-spacing: 1px;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
}

.project-item .title a {
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  display: inline-block;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 1;
  letter-spacing: 1px;
}

.project-item:hover .title {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media screen and (max-width: 991px) {
  .projects {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 480px) {
  .projects {
    padding-left: 0;
    padding-right: 0;
  }
}
